.body {
  margin: 0;
}
.calculator {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 350px;
  height: 550px;
  border: 3px solid black;
  padding: 15px;
  align-items: center;
  justify-content: space-around;
}
.screen {
  height: 100px;
  width: 95%;
  border: 3px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  font-size: 32px;
  padding: 10px;
}
.buttons {
  height: 350px;
  width: 95%;
  display: flex;
  flex-direction: column;
}
.top, .bottom{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 10px;

}
.top .btn{
  height: 55px;
  width: 144px;
}
.bottom .btn{
  height: 55px;
  width:67px;
}
.btn{
  border: 2px solid ;
  border-radius: 5px;
  font-size: larger;
}

